{% extends "core/base.html" %}
{% load static %}
{% block title %}Comments{% endblock %}
{% block heading %}Comments{% endblock %}
{% block subheading %}Kelola komentar pengunjung{% endblock %}
{% block content %}
    {% include "core/comment/hero.html" %}
    {% include "core/comment/control.html" %}
    <div id="commentTableContainer">{% include "core/comment/table.html" %}</div>
{% endblock %}
{% block modal %}
    <div id="deleteModalContainer">{% include "core/base/delete.html" %}</div>
{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
