{% if page_obj.has_other_pages %}
    <ul class="pagination"
        {% if pagination_target %} hx-target="{{ pagination_target }}" hx-swap="innerHTML"{% endif %}>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a href="{% if page_obj.has_previous %}{% querystring page=1 %}{% else %}#{% endif %}"
               aria-label="First"
               {% if pagination_target and page_obj.has_previous %} hx-get="{% querystring page=1 %}"{% endif %}>
                <i class="fa-solid fa-angles-left page-icon"></i>
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a href="{% if page_obj.has_previous %}{% querystring page=page_obj.previous_page_number %}{% else %}#{% endif %}"
               aria-label="Previous"
               {% if pagination_target and page_obj.has_previous %} hx-get="{% querystring page=page_obj.previous_page_number %}"{% endif %}>
                <i class="fa-solid fa-chevron-left page-icon"></i>
            </a>
        </li>
        {% for page_num in page_obj.paginator.get_elided_page_range %}
            {% if page_num == page_obj.paginator.ELLIPSIS %}
                <li class="page-item ellipsis"><span>{{ page_num }}</span></li>
            {% elif page_num == page_obj.number %}
                <li class="page-item active" aria-current="page"><span>{{ page_num }}</span></li>
            {% else %}
                <li class="page-item">
                    <a href="{% querystring page=page_num %}"
                       {% if pagination_target %} hx-get="{% querystring page=page_num %}"{% endif %}>
                        {{ page_num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a href="{% if page_obj.has_next %}{% querystring page=page_obj.next_page_number %}{% else %}#{% endif %}"
               aria-label="Next"
               {% if pagination_target and page_obj.has_next %} hx-get="{% querystring page=page_obj.next_page_number %}"{% endif %}>
                <i class="fa-solid fa-chevron-right page-icon"></i>
            </a>
        </li>
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a href="{% if page_obj.has_next %}{% querystring page=page_obj.paginator.num_pages %}{% else %}#{% endif %}"
               aria-label="Last"
               {% if pagination_target and page_obj.has_next %} hx-get="{% querystring page=page_obj.paginator.num_pages %}"{% endif %}>
                <i class="fa-solid fa-angles-right page-icon"></i>
            </a>
        </li>
    </ul>
{% endif %}
