<div class="card glass mb-20">
    <div class="ads-control">
        <form hx-get="{% url 'core:category_list' %}"
              hx-target="#categoryTableContainer"
              hx-swap="innerHTML"
              class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text"
                   name="q"
                   class="search-input"
                   placeholder="Cari kategori..."
                   value="{{ query }}">
        </form>
        {% if user_role == "developer" or user_role == "administrator" %}
            <button type="button"
                    hx-get="{% url 'core:category_create' %}"
                    hx-target="#formModalContainer"
                    hx-swap="innerHTML"
                    class="btn btn-primary">
                <i class="fa-solid fa-plus"></i> Tambah
            </button>
        {% endif %}
    </div>
</div>
