<div class="card glass mb-20">
    <div class="ads-control">
        <form hx-get="{% url 'core:comment_list' %}"
              hx-target="#commentTableContainer"
              hx-swap="innerHTML"
              class="search-bar">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text"
                   name="q"
                   class="search-input"
                   placeholder="Cari komentar..."
                   value="{{ query }}">
        </form>
    </div>
</div>
